*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .cuadrado{
        height: 400px;
        width: 400px;
        position: relative;
        .circulo{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: red;
            position: absolute;
            margin-left: 150px;
            margin-top: 150px;
            animation: rotacion 2s linear infinite;
        }
    }
}

@keyframes rotacion{
    0%{transform: rotate(0deg);
        background-image: linear-gradient(red, yellow);
    }
   
    100%{transform: rotate(360deg);
        background-image: linear-gradient(red, yellow);
    }
}